.content {
	padding: 40px;
}

.title {
	font-size: 3.5rem;
}

.text {
	line-height: 150%;
}

.list {
	margin: 1rem 0 1.5rem;
	
	& > li {
		list-style-type: none;
		display: flex;
		align-items: center;

		&::before {
			content: '';
			display: block;
			margin-right: .75rem;
			width: 1.5rem;
			height: 1.5rem;
			background-image: url('/assets/images/icons/Checkmark.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}
		
		&:not(:last-child) {
			margin-bottom: .75rem;
		}
	}
	
}