.index {
	min-height: 100vh;
	display: grid;
	background-color: var(--bg-index-color);
}

.img {
	height: 375px;
	width: 100vw;
	object-fit: cover;
}

.logo {
	padding: 40px;
}

.text {
	margin-top: 0.5rem;
	line-height: 150%;
}

.list {
	margin: 1rem 0 1.5rem;

	& > li {
		list-style-type: none;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			display: block;
			margin-right: 0.75rem;
			width: 1.5rem;
			height: 1.5rem;
			background-image: url("/assets/images/icons/Checkmark.svg");
			background-size: contain;
			background-repeat: no-repeat;
		}

		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
}

@media (max-width: 415px) {
	.logo {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (min-width: 768px) {
	.index {
		grid-template-columns: 0.55fr 0.45fr;
		grid-template-rows: auto 1fr;
	}

	.content {
		max-width: 520px;
		margin: 48px auto auto;
	}

	.img {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		align-self: stretch;
		height: auto;
		width: 100%;
	}

	.logo {
		width: 520px;
		margin: 0 auto;
	}
}
