@font-face {
	font-family: "Archivo"; 
	src: url("../assets/fonts/Archivo-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "Archivo"; 
	src: url("../assets/fonts/Archivo-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
} 